<div class="container">
  <div class="row">
    <div class="col s12">
      <img class="responsive-img" src="../../../assets/imagenes/cabeceraListado.png">
    </div>
  </div>

  <div class="row">
    <div class="col s12">
      <table>
        <thead>
        </thead>
        <tbody>
          <tr *ngFor="let libro of listaLibros">
            <div class="row" style="margin-bottom: 8%;">
              <div class="col s2"></div>
              <div class="col s4">
                <a (click)="onSelect(libro)" style="margin-top: 5%; cursor: pointer;">
                  <img class="responsive-img" style="width: 80%; height: 80%;" [src]="'http://localhost:8181/image/libro/'+libro.id+'.png'">
                </a>
              </div>
              <div class="col s5">
                <h5 (click)="onSelect(libro)" style="margin-top: 5%; cursor: pointer;">TÍTULO: {{libro.titulo}}</h5>
                <span>FECHA DE PUBLICACIÓN: {{libro.fechaDePublicacion}}</span>
                <p>AUTOR: {{libro.autor}}</p>
                <a (click)="onSelect(libro)" style="margin-top: 5%; cursor: pointer;">
                  <span>FORMATO: {{libro.formato | uppercase}}</span>
                </a>
                <span>{{libro.numeroDePaginas}}</span>
                <span> páginas</span>
                <br>
                <a (click)="onSelect(libro)">
                  <span style="font-size: x-large; color:#db3208">NUESTRO nuestroPrecio: {{libro.nuestroPrecio}} €
                  </span>
                </a>
                <span>Otros Sitios: <span style="text-decoration:line-through;">{{libro.listaDePrecios}} €</span>
                </span>
                <p>DESCRIPCIÓN:</p>
                <p>{{libro.descripcion}}</p>
              </div>
            </div>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>