<div class="slider grey darken-3">
  <ul class="slides">
    <li>
      <img src="../../../assets/imagenes/ale1.jpg">
      <!-- random image -->
      <div class="caption center-align">
        <h3>This is our big Tagline!</h3>
        <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
      </div>
    </li>
    <li>
      <img src="../../../assets/imagenes/librosViejos.jpg">
      <!-- random image -->
      <div class="caption left-align">
        <h3>Left Aligned Caption</h3>
        <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
      </div>
    </li>
    <li>
      <img src="../../../assets/imagenes/alejandria.jpg">
      <!-- random image -->
      <div class="caption right-align">
        <h3>Right Aligned Caption</h3>
        <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
      </div>
    </li>
    <li>
      <img src="../../../assets/imagenes/got.jpg">
      <!-- random image -->
      <div class="caption center-align">
        <h3>This is our big Tagline!</h3>
        <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
      </div>
    </li>
  </ul>
</div>
<div class="parallax-container">
  <div class="parallax">
    <img src="../../../assets/imagenes/fondo1.jpg">
  </div>
</div>
<div class="section grey darken-3">
  <div class="row">
    <div class="col s4 z-depth-2 card-image">
      <a routerLink="/listaLibros">
        <img class="responsive-img" src="../../../assets/imagenes/bestseller.png">
      </a>
    </div>
    <div class="col s4 z-depth-2 card-image">
      <a routerLink="/horas">
        <img class="responsive-img" src="../../../assets/imagenes/horas.png">
      </a>
    </div>
    <div class="col s4 z-depth-2 card-image">
      <a routerLink="/faq">
        <img class="responsive-img" src="../../../assets/imagenes/faq.png">
      </a>
    </div>
  </div>

  <div>
    <div class="home-headline">
      <span style="color:white; background:#424242;margin-left:44%">LIBROS MÁS VENDIDOS</span>
    </div>
    <hr style="margin-top: -15px;" />
  </div>

  <div class="row">
    <div class="carousel">
      <a class="carousel-item">
        <img style="width: 70%;" src="../../../assets/imagenes/libro1.png">
      </a>
      <a class="carousel-item">
        <img style="width: 70%;" src="../../../assets/imagenes/libro1.png">
      </a>
      <a class="carousel-item">
        <img style="width: 70%;" src="../../../assets/imagenes/libro1.png">
      </a>
      <a class="carousel-item">
        <img style="width: 70%;" src="../../../assets/imagenes/libro1.png">
      </a>
      <a class="carousel-item">
        <img style="width: 70%;" src="../../../assets/imagenes/libro1.png">
      </a>
    </div>
  </div>
</div>
<div class="parallax-container">
  <div class="parallax">
    <img src="../../../assets/imagenes/fondo3.jpg">
  </div>
</div>
<footer class="page-footer grey darken-3">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">TRABAJO FIN DE GRADO SUPERIOR</h5>
        <p class="grey-text text-lighten-4">uso de spring como backend y angular como frontend</p>
      </div>
      <div class="col l4 offset-l2 s12">
        <h5 class="white-text">Redes Socilaes</h5>
        <ul>
          <li>
            <a class="grey-text text-lighten-3" href="https://twitter.com/Jcguerrero21">
              <img src="../../../assets/imagenes/twitter.png">
            </a>
          </li>
          <li>
            <a class="grey-text text-lighten-3" href="https://www.facebook.com/juancarlos.guerrero.92798">
              <img src="../../../assets/imagenes/facebook.png">
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      © 2017 JUAN CARLOS GUERRERO MOYANO
    </div>
  </div>
</footer>