<div class="container">
  <div class="row">
    <div class="col s12">
      <img class="responsive-img" src="../../../assets/imagenes/cabeceraCarrito.png">
    </div>
  </div>

  <div class="row" style="margin-top: 5%">
    <div class="col s12">
      <div class="row">
        <div class="col s6 text-left">
          <button class="btn blue waves-effect waves-yellow" routerLink="/listaLibros">
            <i class="material-icons right">add_shopping_cart</i> Continuar Comprando</button>
        </div>
        <div *ngIf="carritoItemNumero!=0" class="col s6 text-right">
        <button class="btn teal darken-2 waves-effect waves-yellow" routerLink="/pedido">
          <i class="material-icons right">local_shipping</i> Realizar Pedido</button>
      </div>
      </div>
      <br>
      <div *ngIf="carritoItemActualizado" class="card-panel green lighten-4 green-text text-darken-4">
        Carrito Actualizado Correctamente
      </div>
      <div *ngIf="NoHayStock" class="card-panel red lighten-4 red-text text-darken-4">
        Vaya, alguno de los productos no tienen stock. Por favor actualiza la cantidas de los productos.
      </div>
      <div *ngIf="carritoVacio" class="card-panel red lighten-4 red-text text-darken-4">
        Vaya, tu carrito esta vacío. mira si puedes encontrar lo que buscas en nuestro librería y agrégalo al carrito
      </div>
      <div class="row">
        <div class="col s5">
          <h4>Productos</h4>
        </div>
        <div class="col s3">
          <h4>Precio</h4>
        </div>
        <div class="col s2">
          <h4>Cantidad</h4>
        </div>
      </div>
    </div>
    <hr>
    <div class="row" *ngFor="let carritoItem of carritoItemLista">
      <div class="col s2">
        <a (click)="onSelect(carritoItem.libro)">
          <img class="responsive-img" style="width: 50%; height: 30%;" [src]="'http://localhost:8181/image/libro/'+carritoItem.libro.id+'.png'">
        </a>
      </div>
      <div class="col s4">
        <a class="waves-effect btn-flat tex-left" (click)="onSelect(carritoItem.libro)">
          <h6>{{carritoItem.libro.titulo}}</h6>
        </a>
        <p *ngIf="carritoItem.libro.numeroDeStock > 10" style="color:green; margin-left: 9%">En Stock</p>
        <p *ngIf="carritoItem.libro.numeroDeStock < 10 && carritoItem.libro.numeroDeStock > 0" style="margin-left: 7%;color:red">Solo hay
          <span>{{carritoItem.libro.numeroDeStock}}</span> En Stock</p>
        <p *ngIf="carritoItem.libro.numeroDeStock == 0" style="color:darkred;">No hay Stock</p>
        <p class="btn amber" (click)="onBorrarCarritoItem(carritoItem)" style="margin-left: 4%">Borrar</p>
      </div>
      <div class="col s2">
        <h5 style="color:#db3208;font-size:large;">
          <span [ngClass]="{'text-strike': carritoItem.libro.numeroDeStock == 0}">{{carritoItem.libro.nuestroPrecio}} €</span>
        </h5>
      </div>
      <div class="col s2">
        <input hidden="hidden" name="id" [(ngModel)]="carritoItem.id" />
        <input id="carritoItem.id" name="cantidad" [disabled]="carritoItem.libro.numeroDeStock==0" [(ngModel)]="carritoItem.cantidad"
          (ngModelChange)="carritoItem.actualizar=true">
        <a class="btn purple waves-effect waves-purple" *ngIf="carritoItem.actualizar" (click)="onActualizarCarritoItem(carritoItem)">Actualizar</a>
      </div>
    </div>
    <div class="row">
      <hr>
      <h4 class="col s12 text-right">
        <strong style="font-size:large">Precio Total (
          <span>{{carritoItemNumero}}</span> artículos): </strong>
        <span style="color:#db3208;font-size: large">{{carritoCompra.granTotal}} €</span>
      </h4>
    </div>
  </div>
</div>