<div class="container">
  <div class="row">
    <div class="col s12">
      <img class="responsive-img" src="../../../assets/imagenes/cabecera_miPerfil.png">
    </div>
  </div>

  <div *ngIf="!datosObtenidos" style="margin-top:10%; margin-left:45%;">
    <div class="row">
      <div class="preloader-wrapper big active">
        <div class="spinner-layer spinner-green-only">
          <div class="circle-clipper left">
            <div class="circle"></div>
          </div>
          <div class="gap-patch">
            <div class="circle"></div>
          </div>
          <div class="circle-clipper right">
            <div class="circle"></div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="row" style="margin-top:5%;">
    <div class="col s12">
      <ul id="tabs-swipe-demo" class="tabs">
        <li class="tab col s4">
          <a href="#editar">Editar</a>
        </li>
        <li class="tab col s4">
          <a href="#pago">Pago</a>
        </li>
        <li class="tab col s4">
          <a href="#compra">Compra</a>
        </li>
      </ul>
      <div id="editar" class="col s12 grey lighten-3">
        <div *ngIf="incorrectPassword" class="card-panel red lighten-4 red-text text-darken-4">
          <strong>Contraseña Incorecta</strong>, Por favor introduce la contraseña actual de tu usuario
        </div>
        <div *ngIf="actualizadoExito" class="card-panel green lighten-4 green-text text-darken-4">
          <strong>Actualización correcta</strong>
        </div>
        <form (ngSubmit)="onActualizarInfoUsuario()" class="col s12">
          <input type="hidden" [(ngModel)]="usuario.id" name="id" />
          <div class="row">
            <div class="input-field col s6">
              <input id="nombre" placeholder="" type="text" class="validate activate" required [(ngModel)]="usuario.nombre" name="nombre">
              <label for="nombre">Nombre*</label>
            </div>
            <div class="input-field col s6">
              <input id="apellidos" placeholder="" type="text" class="validate" required [(ngModel)]="usuario.apellidos" name="apellidos">
              <label for="apellidos">Apellidos*</label>
            </div>
          </div>
          <div class="row">
            <span *ngIf="usernameExits" style="color:red">El nombre de usuario ya existe</span>
            <div class="input-field col s12">
              <input placeholder=" " type="text" [(ngModel)]="usuario.username" name="username" id="username" class="validate" required>
              <label for="username">Nombre De Usuario*</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
              <input placeholder="" type="password" [(ngModel)]="passwordActual" name="password" id="password" class="validate">
              <label for="password">contraseña Actual*</label>
            </div>
          </div>
          <div class="row">
            <span *ngIf="emailExits" style="color:red">Ese email ya esta en uso</span>
            <div class="input-field col s12">
              <input placeholder="" type="email" [(ngModel)]="usuario.email" name="email" id="email" class="validate">
              <label for="email">Email</label>
            </div>
          </div>
          <div class="row">
            <span *ngIf="checkPasswordMatch" style="color:red">Ese email ya esta en uso</span>
            <div class="input-field col s12">
              <input placeholder="" type="password" [(ngModel)]="nuevaPassword" name="txtNuevaPassword" id="txtNuevaPassword" class="validate">
              <label for="txtNuevaPassword">Contraseña Nueva</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
              <input placeholder="" type="password" name="txtConfirmarPassword" id="txtConfirmarPassword" class="validate">
              <label for="txtConfirmarPassword">Confirmar Nueva Contraseña</label>
            </div>
          </div>
          <div class="row">
            <div class="col s2">
              <button type="submit" class="btn green waves-effect waves-light" id="actualizarUsuarioInfoButton">Guardar</button>
            </div>
          </div>
        </form>
      </div>
      <div id="pago" class="col s12">
        <div class="col s2"></div>
        <div class="col s8" style="margin-top: 2%; margin-bottom: 2%">
          <ul id="tabs-swipe-demo2" class="tabs">
            <li class="tab col s6">
              <a href="#ListaDeTarjetasCredito">Tarjetas</a>
            </li>
            <li class="tab col s6">
              <a href="#AddUpdatedTarjetas">Nueva Tarjeta</a>
            </li>
          </ul>
          <div id="ListaDeTarjetasCredito">
            <div *ngIf="pagoPredeterminado" class="card-panel green lighten-4 green-text text-darken-4">
              <strong>Petición correcta</strong>
            </div>
            <form (ngSubmit)="setPagoPredeterminado()" method="post">
              <table class="bordered responsive-table centered" style="margin-top: 2%">
                <thead style="background-color: #fafafa">
                  <tr>
                    <th>Predeterminado</th>
                    <th>Tarjeta Credito</th>
                    <th>Operaciones</th>
                  </tr>
                </thead>
                <tbody style="background-color: #eeeeee">
                  <tr *ngFor="let usuarioPago of usuarioPagoLista">
                    <td>
                      <input class="with-gap" type="radio" [(ngModel)]="usuarioPagoPredeterminadoId" name="pagoPredeterminado" id="{{usuarioPago.id}}"
                        [value]="usuarioPago.id" />
                      <label for="{{usuarioPago.id}}"></label>
                    </td>
                    <td>{{usuarioPago.nombreTarjeta}}</td>
                    <td>
                      <!-- <button class="btn-floating btn-tiny waves-effect waves-light" (click)="onActualizarPago(usuarioPago.id)">
                        <i class="material-icons">edit</i>
                      </button> -->
                      <button class="btn-floating btn-tiny waves-effect waves-light red" (click)="onBorrarPago(usuarioPago.id)">
                        <i class="material-icons">delete_forever</i>
                      </button>
                    </td>
                  </tr>
                </tbody>
              </table>
              <button type="submit" style="margin-top: 2%" class="btn green waves-effect waves-light">Guardar</button>
            </form>
          </div>
          <div id="AddUpdatedTarjetas">
            <form (ngSubmit)="onNuevoPago()" class="col s12 grey lighten-3" method="post">
              <div *ngIf="usuarioPagoInfo" class="card-panel green lighten-4 green-text text-darken-4">
                Información Guardada
              </div>
              <input hidden="hidden" name="id" [(ngModel)]="usuarioPago.id" />

              <div class="row">
                <div class="input-field col s12">
                  <input id="nombreTarjeta" type="text" class="validate" [(ngModel)]="usuarioPago.nombreTarjeta" name="nombreTarjeta" required>
                  <label for="nombreTarjeta">Nombre de la tarjeta *:</label>
                </div>
              </div>

              <!-- Dirección De Facturación -->
              <hr style="border: 2px solid;">
              <h5 style="margin-left: 29%;">Dirección De Facturación</h5>
              <hr style="border: 2px solid;">

              <div class="row">
                <div class="input-field col s12">
                  <input id="usuarioFacturacionNombre" type="text" class="validate" [(ngModel)]="usuarioFacturacion.usuarioFacturacionNombre"
                    name="usuarioFacturacionNombre" required>
                  <label for="usuarioFacturacionNombre">Nombre*:</label>
                </div>
              </div>
              <div class="row">
                <div class="input-field col s12">
                  <input id="usuarioFacturacionCalle" type="text" class="validate" [(ngModel)]="usuarioFacturacion.usuarioFacturacionCalle"
                    name="usuarioFacturacionCalle" required>
                  <label for="usuarioFacturacionCalle">Dirección Facturación*:</label>
                </div>
              </div>
              <div class="row">
                <div class="input-field col s4">
                  <input id="usuarioFacturacionCiudad" type="text" class="validate" [(ngModel)]="usuarioFacturacion.usuarioFacturacionCiudad"
                    name="usuarioFacturacionCiudad" required>
                  <label for="usuarioFacturacionCiudad">Ciudad*:</label>
                </div>
                <div class="input-field col s4">
                  <select materialize="material_select" id="usuarioFacturacionProvincia" [(ngModel)]="usuarioFacturacion.usuarioFacturacionProvincia"
                    name="usuarioFacturacionProvincia" required>
                    <option value="" disabled selected>Provincia*:</option>
                    <option *ngFor="let provincia of listaProvincias">{{provincia}}</option>
                  </select>
                </div>
                <div class="input-field col s4">
                  <input id="usuarioFacturacionCodigoPostal" type="number" class="validate" [(ngModel)]="usuarioFacturacion.usuarioFacturacionCodigoPostal"
                    name="usuarioFacturacionCodigoPostal" required>
                  <label for="usuarioFacturacionCodigoPostal">CP*:</label>
                </div>
              </div>

              <!-- Pago Usuario -->
              <br>
              <hr style="border: 2px solid;">
              <h4 style="margin-left:19%">Información Tarjeta Crédito</h4>
              <hr style="border: 2px solid;">

              <img class="responsive-img" src="../../../assets/imagenes/creditcard.png">
              <div class="row">
                <div class="input-field col s12">
                  <select materialize="material_select" id="tipoTarjeta" [(ngModel)]="usuarioPago.tipo" name="tipoTarjeta" required>
                    <option value="" disabled selected>Tipo De Tarjeta*:</option>
                    <option value="visa">Visa</option>
                    <option value="mastercard">Mastercard</option>
                    <option value="discover">Discover</option>
                    <option value="amex">American Express</option>
                  </select>
                </div>
              </div>
              <div class="row">
                <div class="input-field col s12">
                  <input id="nombreTitular" type="text" class="validate" [(ngModel)]="usuarioPago.nombreTitular" name="nombreTitular" required>
                  <label for="nombreTitular">Nombre Del Titular*:</label>
                </div>
              </div>
              <div class="row">
                <div class="input-field col s12">
                  <input id="numeroTarjeta" type="number" class="validate" [(ngModel)]="usuarioPago.numeroTarjeta" name="numeroTarjeta" required>
                  <label for="numeroTarjeta">Número tarjeta*:</label>
                </div>
              </div>
              <div class="row">
                <div class="input-field col s4">
                  <select materialize="material_select" id="mesExpiracion" [(ngModel)]="usuarioPago.mesExpiracion" name="mesExpiracion" required>
                    <option value="" disabled selected>Mes De Expiración*:</option>
                    <option value="1">Enero</option>
                    <option value="2">Febrero</option>
                    <option value="3">Marzo</option>
                    <option value="4">Abril</option>
                    <option value="5">Mayo</option>
                    <option value="6">Junio</option>
                    <option value="7">Julio</option>
                    <option value="8">Agosto</option>
                    <option value="9">Septiembre</option>
                    <option value="10">Octubre</option>
                    <option value="11">Noviembre</option>
                    <option value="12">Diciembre</option>
                  </select>
                </div>
                <div class="input-field col s4">
                  <select materialize="material_select" id="anioExpiracion" [(ngModel)]="usuarioPago.anioExpiracion" name="anioExpiracion"
                    required>
                    <option value="" disabled selected>Año De Expiración*:</option>
                    <option value="17">2017</option>
                    <option value="18">2018</option>
                    <option value="19">2019</option>
                    <option value="20">2020</option>
                    <option value="21">2021</option>
                    <option value="22">2022</option>
                    <option value="23">2023</option>
                    <option value="24">2024</option>
                    <option value="25">2025</option>
                  </select>
                </div>
                <div class="input-field col s4">
                  <input id="cvc" type="number" class="validate" [(ngModel)]="usuarioPago.cvc" name="cvc" required>
                  <label for="cvc">CVC*:</label>
                </div>
              </div>
              <hr style="border: 2px solid;">
              <br>
              <div class="row">
                <div class="col s2">
                  <button type="submit" class="btn green waves-effect waves-light" id="btnGuardarIfoTarjetaCredio">Guardar</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
      <div id="compra" class="col s12 grey lighten-3">
        <div class="col s2"></div>
        <div class="col s8" style="margin-top: 2%; margin-bottom: 2%">
          <ul id="tabs-swipe-demo2" class="tabs">
            <li class="tab col s6">
              <a href="#ListaDireccionesEnvio">Dirección Envio</a>
            </li>
            <li class="tab col s6">
              <a href="#AddUpdatedEnvio">Nueva Direccion</a>
            </li>
          </ul>
          <div id="ListaDireccionesEnvio">
            <div *ngIf="envioPredeterminado" class="card-panel green lighten-4 green-text text-darken-4">
              <strong>Petición correcto</strong>
            </div>
            <!-- <div *ngIf="borrarEnvioInfo" class="card-panel green lighten-4 green-text text-darken-4" id="todoCorrecto">
              Información borrada correctamente
            </div> -->
            <form (ngSubmit)="setEnvioPredeterminado()" method="post">
              <table class="bordered responsive-table centered" style="margin-top: 2%">
                <thead style="background-color: #fafafa">
                  <tr>
                    <th>Predeterminado</th>
                    <th>Dirección de envio</th>
                    <th>Operaciones</th>
                  </tr>
                </thead>
                <tbody style="background-color: #eeeeee">
                  <tr *ngFor="let usuarioEnvio of usuarioEnvioList">
                    <td>
                      <input class="with-gap" type="radio" [(ngModel)]="usuarioPredeterminadoEnvioId" name="envioPredeterminado" id="{{usuarioEnvio.id}}"
                        [value]="usuarioEnvio.id" />
                      <label for="{{usuarioEnvio.id}}"></label>
                    </td>
                    <td>{{usuarioEnvio.usuarioEnvioCalle}}, {{usuarioEnvio.usuarioEnvioCiudad}}, {{usuarioEnvio.usuarioEnvioProvincia}},
                      {{usuarioEnvio.usuarioEnvioCodigoPostal}}
                    </td>
                    <td>
                      <!-- <button class="btn-floating btn-tiny waves-effect waves-light" (click)="onActualizarEnvio(usuarioEnvio)">
                        <a href="#AddUpdatedEnvio">
                          <i class="material-icons">edit</i>
                        </a>
                      </button> -->
                      <button class="btn-floating btn-tiny waves-effect waves-light red" (click)="onBorrarEnvio(usuarioEnvio.id)">
                        <i class="material-icons">delete_forever</i>
                      </button>
                    </td>
                  </tr>
                </tbody>
              </table>
              <button type="submit" style="margin-top: 2%" class="btn green waves-effect waves-light">Guardar</button>
            </form>
          </div>
          <div id="AddUpdatedEnvio">
            <form (ngSubmit)="onNuevoEnvio()" class="col s12 grey lighten-3" method="post">
              <input hidden="hidden" name="id" [(ngModel)]="usuarioEnvio.id" />

              <div class="row">
                <div class="input-field col s12">
                  <input id="nombreEnvio" type="text" class="validate" [(ngModel)]="usuarioEnvio.usuarioEnvioNombre" name="nombreEnvio" required>
                  <label for="nombreEnvio">Nombre *:</label>
                </div>
              </div>
              <div class="row">
                <div class="input-field col s12">
                  <input id="usuarioEnvioCalle" type="text" class="validate" [(ngModel)]="usuarioEnvio.usuarioEnvioCalle" name="usuarioEnvioCalle"
                    required>
                  <label for="usuarioEnvioCalle">Dirección Envio*:</label>
                </div>
              </div>
              <div class="row">
                <div class="input-field col s4">
                  <input id="usuarioEnvioCiudad" type="text" class="validate" [(ngModel)]="usuarioEnvio.usuarioEnvioCiudad" name="usuarioEnvioCiudad"
                    required>
                  <label for="usuarioEnvioCiudad">Ciudad*:</label>
                </div>
                <div class="input-field col s4">
                  <select materialize="material_select" id="usuarioEnvioProvincia" [(ngModel)]="usuarioEnvio.usuarioEnvioProvincia" name="usuarioEnvioProvincia"
                    required>
                    <option value="" disabled selected>Provincia*:</option>
                    <option *ngFor="let provincia of listaProvincias">{{provincia}}</option>
                  </select>
                </div>
                <div class="input-field col s4">
                  <input id="usuarioEnvioCodigoPostal" type="number" class="validate" [(ngModel)]="usuarioEnvio.usuarioEnvioCodigoPostal" name="usuarioEnvioCodigoPostal"
                    required>
                  <label for="usuarioEnvioCodigoPostal">CP*:</label>
                </div>
              </div>
              <div *ngIf="usuarioEnvioInfo" class="card-panel green lighten-4 green-text text-darken-4" id="todoCorrecto">
                Información de envio insertada correctamente
              </div>
              <div class="row">
                <div class="col s2">
                  <button type="submit" class="btn green waves-effect waves-light" id="btnGuardarEnvio">Guardar</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<footer class="page-footer grey darken-3">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">TRABAJO FIN DE GRADO SUPERIOR</h5>
        <p class="grey-text text-lighten-4">uso de spring como backend y angular como frontend</p>
      </div>
      <div class="col l4 offset-l2 s12">
        <h5 class="white-text">Redes Socilaes</h5>
        <ul>
          <li>
            <a class="grey-text text-lighten-3" href="https://twitter.com/Jcguerrero21">
              <img src="../../../assets/imagenes/twitter.png">
            </a>
          </li>
          <li>
            <a class="grey-text text-lighten-3" href="https://www.facebook.com/juancarlos.guerrero.92798">
              <img src="../../../assets/imagenes/facebook.png">
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      © 2017 JUAN CARLOS GUERRERO MOYANO
    </div>
  </div>
</footer>