<div class="container">
  <div class="row">
    <div class="col s12">
      <img class="responsive-img" src="../../../assets/imagenes/cabecera_miPerfil.png">
    </div>
  </div>

  <div *ngIf="!datosObtenidos" style="margin-top:10%; margin-left:45%;">
    <div class="row">
      <div class="preloader-wrapper big active">
        <div class="spinner-layer spinner-green-only">
          <div class="circle-clipper left">
            <div class="circle"></div>
          </div>
          <div class="gap-patch">
            <div class="circle"></div>
          </div>
          <div class="circle-clipper right">
            <div class="circle"></div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="row" style="margin-top:5%;">
    <div class="col s12">
      <ul id="tabs-swipe-demo" class="tabs">
        <li class="tab col s4">
          <a href="#editar">Editar</a>
        </li>
        <li class="tab col s4">
          <a href="#pago">Pago</a>
        </li>
        <li class="tab col s3">
          <a href="#test-swipe-3">Test 3</a>
        </li>
      </ul>
      <div id="editar" class="col s12 grey lighten-3">
        <div *ngIf="incorrectPassword" class="card-panel red lighten-4 red-text text-darken-4">
          <strong>Contraseña Incorecta</strong>, Por favor introduce la contraseña actual de tu usuario
        </div>
        <div *ngIf="actualizadoExito" class="card-panel green lighten-4 green-text text-darken-4">
          <strong>Actualización correcta</strong>
        </div>
        <form (ngSubmit)="onActualizarInfoUsuario()" class="col s12">
          <input type="hidden" [(ngModel)]="usuario.id" name="id" />
          <div class="row">
            <div class="input-field col s6">
              <input id="nombre" placeholder="" type="text" class="validate activate" required [(ngModel)]="usuario.nombre" name="nombre">
              <label for="nombre">Nombre*</label>
            </div>
            <div class="input-field col s6">
              <input id="apellidos" placeholder="" type="text" class="validate" required [(ngModel)]="usuario.apellidos" name="apellidos">
              <label for="apellidos">Apellidos*</label>
            </div>
          </div>
          <div class="row">
            <span *ngIf="usernameExits" style="color:red">El nombre de usuario ya existe</span>
            <div class="input-field col s12">
              <input placeholder=" " type="text" [(ngModel)]="usuario.username" name="username" id="username" class="validate" required>
              <label for="username">Nombre De Usuario*</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
              <input placeholder="" type="password" [(ngModel)]="passwordActual" name="password" id="password" class="validate">
              <label for="password">contraseña Actual*</label>
            </div>
          </div>
          <div class="row">
            <span *ngIf="emailExits" style="color:red">Ese email ya esta en uso</span>
            <div class="input-field col s12">
              <input placeholder="" type="email" [(ngModel)]="usuario.email" name="email" id="email" class="validate">
              <label for="email">Email</label>
            </div>
          </div>
          <div class="row">
            <span *ngIf="checkPasswordMatch" style="color:red">Ese email ya esta en uso</span>
            <div class="input-field col s12">
              <input placeholder="" type="password" [(ngModel)]="nuevaPassword" name="txtNuevaPassword" id="txtNuevaPassword" class="validate">
              <label for="txtNuevaPassword">Contraseña Nueva</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
              <input placeholder="" type="password" name="txtConfirmarPassword" id="txtConfirmarPassword" class="validate">
              <label for="txtConfirmarPassword">Confirmar Nueva Contraseña</label>
            </div>
          </div>
          <div class="row">
            <div class="col s2">
              <button type="submit" class="btn green waves-effect waves-light" id="actualizarUsuarioInfoButton">Guardar</button>
            </div>
          </div>
        </form>
      </div>
      <div id="pago" class="col s12 grey darken-4">
        <div *ngIf="pagoPredeterminado" class="card-panel green lighten-4 green-text text-darken-4">
          <strong>Pago predeterminado establecido correctamente</strong>
        </div>
        <div class="col s2"></div>
        <div class="col s8" style="margin-top: 2%; margin-bottom: 2%">
          <ul id="tabs-swipe-demo2" class="tabs">
            <li class="tab col s4">
              <a href="#ListaDeTarjetasCredito">Tarjetas</a>
            </li>
            <li class="tab col s4">
              <a href="#AddUpdatedTarjetas">ADD Tarjeta Credito</a>
            </li>
            <li class="tab col s4">
              <a href="#test-swipe-3">Test 3</a>
            </li>
          </ul>
          <div id="ListaDeTarjetasCredito">
            <form (ngSubmit)="setPagoPredeterminado()" method="post">
              <table class="bordered responsive-table centered" style="margin-top: 2%">
                <thead style="background-color: #fafafa">
                  <tr>
                    <th>Predeterminado</th>
                    <th>Tarjeta Credito</th>
                    <th>Operaciones</th>
                  </tr>
                </thead>

                <tbody style="background-color: #eeeeee">
                  <tr *ngFor="let usuarioPago of usuarioPagoLista">
                    <td>
                      <input type="radio" [(ngModel)]="usuarioPagoPredeterminadoId" name="usuarioPagoPredeterminadoId" id="usuarioPagoPredeterminadoId"
                        [value]="usuarioPago.id" />
                      <label for="usuarioPagoPredeterminadoId">Predeterminado</label>
                    </td>
                    <td>{{usuarioPago.nombreTarjeta}}</td>
                    <td>
                      <button class="btn-floating btn-tiny waves-effect waves-light" (click)="onActualizarPago(usuarioPago)">
                        <i class="material-icons">edit</i>
                      </button>
                      <button class="btn-floating btn-tiny waves-effect waves-light red" (click)="onBorrarPago(usuarioPago)">
                        <i class="material-icons">delete_forever</i>
                      </button>
                    </td>
                  </tr>
                </tbody>
              </table>
              <button type="submit" style="margin-top: 2%" class="btn green waves-effect waves-light">Guardar</button>
            </form>
          </div>
          <div id="AddUpdatedTarjetas">
            <form (ngSubmit)="onNuevoPago()" method="post">
                <div *ngIf="emailEnviado" class="card-panel green lighten-4 green-text text-darken-4">
                    Se te ha enviado un mensaje a tu cuenta de correo, usted acaba de registrarse. Por favor valida tu email y actualiza tu contraseña.
                </div>
            </form>
          </div>
          <div id="test-swipe-3" class="col s12">Test 3</div>
        </div>
      </div>
      <div id="test-swipe-3" class="col s12 grey lighten-3"></div>
    </div>
  </div>
</div>

<footer class="page-footer grey darken-3">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">TRABAJO FIN DE GRADO SUPERIOR</h5>
        <p class="grey-text text-lighten-4">uso de spring como backend y angular como frontend</p>
      </div>
      <div class="col l4 offset-l2 s12">
        <h5 class="white-text">Redes Socilaes</h5>
        <ul>
          <li>
            <a class="grey-text text-lighten-3" href="https://twitter.com/Jcguerrero21">
              <img src="../../../assets/imagenes/twitter.png">
            </a>
          </li>
          <li>
            <a class="grey-text text-lighten-3" href="https://www.facebook.com/juancarlos.guerrero.92798">
              <img src="../../../assets/imagenes/facebook.png">
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      © 2017 JUAN CARLOS GUERRERO MOYANO
    </div>
  </div>
</footer>