<nav class="grey darken-3">
  <div class="nav-wrapper">
    <a href="#" style="margin-left: 5%;" class="brand-logo">ALEJANDRÍA</a>
    <a href="#" data-activates="mobile-demo" class="button-collapse">
      <i class="material-icons">menu</i>
    </a>
    <ul class="hide-on-med-and-down right">
      <li>
        <div class="center row">
          <div class="col s12 ">
            <div class="row" id="topbarsearch">
              <div class="input-field col s6 s12">
                <i class="icon-green material-icons prefix">search</i>
                <input (ngSubmit)="buscarPorTitulo()" type="text" placeholder="buscar" id="autocomplete-input">
              </div>
            </div>
          </div>
        </div>
      </li>
      <li>
        <a routerLink="/inicio">Inicio</a>
      </li>
      <li>
        <a routerLink="/listaLibros">Libros</a>
      </li>
      <li *ngIf="!loggedIn">
        <a routerLink="/miCuenta">Mi cuenta</a>
      </li>
      <li *ngIf="loggedIn">
        <a routerLink="/cestaCompra">Cesta<i class="icon-green material-icons right">shopping_basket</i></a>
      </li>
      <li *ngIf="loggedIn">
        <a [style.color]="'white'" class="waves-effect waves-yellow btn-flat" (click)="logout()">Cerrar Sesión</a>
      </li>
    </ul>
    <ul class="side-nav" id="mobile-demo">
      <li>
        <div class="center row">
          <div class="col s12 ">
            <div class="row" id="topbarsearch">
              <div class="input-field col s6 s12">
                <i class="icon-green material-icons prefix">search</i>
                <input (ngSubmit)="buscarPorTitulo()" type="text" placeholder="buscar" id="autocomplete-input" class="autocomplete red-text">
              </div>
            </div>
          </div>
        </div>
      </li>
      <li>
        <a [style.color]="'black'" class="waves-effect waves-yellow btn-flat" routerLink="/inicio">Inicio</a>
      </li>
      <li>
        <a [style.color]="'black'" class="waves-effect waves-yellow btn-flat" routerLink="/listaLibros">Libros</a>
      </li>
      <li *ngIf="!loggedIn">
        <a [style.color]="'black'" class="waves-effect waves-yellow btn-flat" routerLink="/miCuenta">Mi cuenta</a>
      </li>
      <li *ngIf="loggedIn">
        <a [style.color]="'black'" class="waves-effect waves-yellow btn-flat" routerLink="/cestaCompra">Cesta<i class="icon-green material-icons right">shopping_basket</i></a>
      </li>
      <li *ngIf="loggedIn">
        <a [style.color]="'black'" class="waves-effect waves-yellow btn-flat" (click)="logout()">Cerrar Sesión</a>
      </li>
    </ul>
  </div>
</nav>
<router-outlet></router-outlet>